#root {
	font-family:'Helvetica';
	padding: 24px 15px 24px 15px;
}

h2 {
	margin-right: 200px;
	margin-left: 200px;
	text-align: center;
}

#search {
	padding-bottom: 25px;
	width: 50%;
  	margin: 0 auto;
  	text-align: center;
}

#search input {
     height: 20px;
     width: 200px;
}

#searchResults {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

#searchResults ul {
	list-style: none;
}

.result {
    outline: 5px solid black;
    margin-bottom: 15px;
}

.link {
    text-align: left;
}

.summary {
    text-align: left;
}
